apiVersion: v1
kind: Service
metadata:
  name: mongodb
spec:
  selector:
    app: mongodb
  ports:
    - name: idk
      protocol: TCP
      port: 8081
      targetPort: 8081
    - name: mongo
      protocol: TCP
      port: 27017
      targetPort: 27017