apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "graylog.datanode.configmap.name" . }}
data:
  JAVA_OPTS: {{ .Values.datanode.config.javaOpts | quote }}
  GRAYLOG_DATANODE_NODE_ID_FILE: {{ .Values.datanode.config.nodeIdFile | default "/var/lib/graylog-datanode/node-id" | quote }}
  GRAYLOG_DATANODE_OPENSEARCH_HEAP: {{ .Values.datanode.config.opensearchHeap | quote }}
  GRAYLOG_DATANODE_SKIP_PREFLIGHT_CHECKS: {{ .Values.datanode.config.skipPreflightChecks | quote }}
  GRAYLOG_DATANODE_NODE_SEARCH_CACHE_SIZE: {{ .Values.datanode.config.nodeSearchCacheSize | quote }}
  {{- $sk := .Values.datanode.config.s3ClientDefaultSecretKey }}
  {{- $ak := .Values.datanode.config.s3ClientDefaultAccessKey }}
  {{- $endpoint := .Values.datanode.config.s3ClientDefaultEndpoint }}
  {{- if or (not $ak | and $sk) (not $endpoint | and $ak) (not $sk | and $endpoint) }}
    {{ fail "All three values are required: datanode.config.s3ClientDefaultEndpoint, datanode.config.s3ClientDefaultSecretKey, and datanode.config.s3ClientDefaultAccessKey" }}
  {{- end }}
  GRAYLOG_DATANODE_S3_CLIENT_DEFAULT_ENDPOINT: {{ .Values.datanode.config.s3ClientDefaultEndpoint | quote }}
  GRAYLOG_DATANODE_S3_CLIENT_DEFAULT_REGION: {{ .Values.datanode.config.s3ClientDefaultRegion | quote }}
  GRAYLOG_DATANODE_S3_CLIENT_DEFAULT_PROTOCOL: {{ .Values.datanode.config.s3ClientDefaultProtocol | quote }}
  GRAYLOG_DATANODE_S3_CLIENT_DEFAULT_PATH_STYLE_ACCESS: {{ .Values.datanode.config.s3ClientDefaultPathStyleAccess | quote }}
