apiVersion: v1
kind: Secret
metadata:
  name: {{ include "graylog.datanode.secretsName" . }}
  labels:
    {{- include "graylog.labels" . | nindent 4 }}
  annotations:
    {{- include "graylog.annotations" . | nindent 4 }}
data:
  {{- with .Values.datanode.config.s3ClientDefaultSecretKey }}
  GRAYLOG_DATANODE_S3_CLIENT_DEFAULT_SECRET_KEY: {{ . | b64enc }}
  {{- end }}
  {{- with .Values.datanode.config.s3ClientDefaultAccessKey }}
  GRAYLOG_DATANODE_S3_CLIENT_DEFAULT_ACCESS_KEY: {{ . | b64enc }}
  {{- end }}