# Default values for Graylog.

# @todo: utilize these
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

global:
  graylogSecretName: "graylog-secrets"
  # @todo: Allow for these to be defined here if the user wishes
  # graylogMongodbURI: "NO DEFAULT"
  # graylogElasticSearchHosts: "NO DEFAULT"
  # graylogPasswordSecret: "NO DEFAULT"
  # graylogPasswordSha2: "NO DEFAULT"


# Configuration for Graylog application
graylog:
  enabled: true
  replicas: 2
  metrics:
    enabled: true
  # @todo: Think about how customers use inputs
  inputs:
    - name: input-gelf
      port: 12201
      targetPort: 12201
      protocol: TCP
      ingress: true
    - name: input-forwarder
      port: 13301
      targetPort: 13301
      protocol: TCP
      ingress: true

  nodeSelector: {}
  image:
    repository: "graylog/graylog-enterprise"
    tag: "latest"
    imagePullPolicy: IfNotPresent
  env:
    graylogRootTimezone: "UTC"
    graylogSelfsignedStartup: "true"
    graylogServerJavaOpts: "-Xms1g -Xmx1g"
    graylogLeaderElectionMode: "automatic"
    graylogMigrations: "true"
    graylogContentPacksAutoInstall: ""
    # Mongo config
    graylogMongodbMaxConnections: 1000
    graylogMongodbVersionProbeAttempts: 0
    # Journal config
    graylogMessageJournalEnabled: "true"
    graylogMessageJournalFlushAge: "1m"
    graylogMessageJournalFlushInterval: "1000000"
    graylogMessageJournalMaxAge: "12h"
    graylogMessageJournalSegmentAge: "1h"
    graylogMessageJournalSegmentSize: "100mb"
    # Performance tuning
    graylogAsyncEventbusProcessors: "2"
    graylogAutoRestartInputs: "false"
    graylogInputbufferProcessors: "2"
    graylogInputbufferRingSize: "65536"
    graylogInputbufferWaitStrategy: "blocking"
    graylogJobSchedulerConcurrencyLimits: ""
    graylogOutputBatchSize: "500"
    graylogOutputFaultCountThreshold: "5"
    graylogOutputFaultPenaltySeconds: "30"
    graylogOutputFlushInterval: "1"
    graylogOutputbufferProcessorThreadsCorePoolSize: "3"
    # @todo: Empty strings are problematic for these vars
    # graylogOutputbufferProcessors: ""
    # graylogProcessbufferProcessors: ""
    # Network config
    graylogHttpConnectTimeout: "5s"
    graylogHttpEnableCors: "false"
    graylogHttpEnableGzip: "true"
    graylogHttpMaxHeaderSize: "8192"
    graylogHttpReadTimeout: "10s"
    graylogHttpThreadPoolSize: "64"
    # Graylog App - Email config
    graylogTransportEmailEnabled: "false"
    graylogTransportEmailFromEmail:  "graylog@example.com"
    graylogTransportEmailHostname: "mail.example.com"
    graylogTransportEmailPort: "587"
    graylogTransportEmailSocketConnectionTimeout: "10s"
    graylogTransportEmailSocketTimeout: "10s"
    graylogTransportEmailUseAuth: "true"
    graylogTransportEmailUseSsl: "false"
    graylogTransportEmailUseTls: "true"
    graylogTransportEmailWebInterfaceUrl: "https://graylog.example.com"
    # Graylog App - Misc
    graylogIsCloud: "false"
  service:
    type: ClusterIP
    ports:
      app: 9000
      metrics: 9833
      inputGelfHttp: 12201
  resources:
    limits:
      cpu: "2"
      memory: "2Gi"
    requests:
      cpu: "1"
      memory: "1Gi"
  persistence:
    enabled: false
    journal:
      enabled: false
      storageClass: ""
      volumeName: "graylog-journal"
      existingClaim: ""
      mountPath: /usr/share/graylog/data/journal
      subPath: ""
      accessModes:
        - ReadWriteOnce
      size: 5Gi
      annotations: {}
      labels: {}
      selector: {}
  # @todo: Export these values to the PVCs
  # persistentVolumeClaimRetentionPolicy:
  #   enabled: false
  #   whenScaled: Retain
  #   whenDeleted: Retain
  livenessProbe:
    enabled: true
    initialDelaySeconds: 140
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  readinessProbe:
    enabled: true
    initialDelaySeconds: 140
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  podAnnotations: {}


# Configuration for Graylog Datanode
datanode:
  enabled: true
  replicas: 3
  image:
    repository: "graylog/graylog-datanode"
    tag: "latest"
    imagePullPolicy: IfNotPresent
  env:
    graylogDatanodeIdFile: "/var/lib/graylog-datanode/node-id"
    graylogDatanodeOpensearchHeap: "2g"
    graylogDatanodeJavaOpts: "-Xms1g -Xmx1g"
    graylogSkipPreflightChecks: "false"
    graylogNodeSearchCacheSize: "10gb"
    # graylogEnabledTlsProtocols: ""
  service:
    ports:
      api: 8999
      data: 9200
      config: 9300
  resources:
    limits:
      cpu: "1"
      memory: "5Gi"
    requests:
      cpu: "500m"
      memory: "3.5Gi"
  persistence:
    enabled: true
    data:
      enabled: true
      storageClass: ""
      existingClaim: ""
      mountPath: /var/lib/graylog-datanode
      accessModes:
        - ReadWriteOnce
      size: 8Gi
      annotations: {}
      labels: {}
      selector: {}
      dataSource: {}
    nativeLibs:
      enabled: false
      storageClass: ""
      existingClaim: ""
      mountPath: /native_libs
      accessModes:
        - ReadWriteOnce
      size: 2Gi
      annotations: {}
      labels: {}
      selector: {}
  livenessProbe:
    enabled: true
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  readinessProbe:
    enabled: true
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  podAnnotations: {}


# This block is for setting up the ingress for more information can be found here: https://kubernetes.io/docs/concepts/services-networking/ingress/
ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local


serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: "graylog"
