# Default values for Graylog.

# @todo: utilize these
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

global:
  graylogSecretName: "graylog-secrets"
  # @todo: Allow for these to be defined here if the user wishes
  # graylogMongodbURI: "NO DEFAULT"
  # graylogElasticSearchHosts: "NO DEFAULT"
  # graylogPasswordSecret: "NO DEFAULT"
  # graylogPasswordSha2: "NO DEFAULT"


# Configuration for Graylog application
graylog:
  enabled: true
  replicas: 2
  # @todo: Think about how customers use inputs
  inputs: []
  nodeSelector: {}
  image:
    repository: "graylog/graylog-enterprise"
    tag: "6.2"
    imagePullPolicy: Always
  env:
    graylogSelfsignedStartup: "true"
    graylogServerJavaOpts: "-Xms1g -Xmx1g"
    graylogLeaderElectionMode: "automatic"
    graylogMigrations: "true"
    graylogIsCloud: "false"
  service:
    type: ClusterIP
    ports:
      app: 9000
      metrics: 9001
      inputGelfHttp: 12201
  resources:
    limits:
      cpu: "2"
      memory: "2Gi"
    requests:
      cpu: "1"
      memory: "1Gi"
  persistence:
    enabled: True
    storageClass: ""
    volumeName: "graylog-journal"
    existingClaim: ""
    mountPath: /usr/share/graylog/data/journal
    subPath: ""
    accessModes:
      - ReadWriteOnce
    size: 8Gi
    annotations: {}
    labels: {}
    selector: {}
    dataSource: {}
  persistentVolumeClaimRetentionPolicy:
    enabled: false
    whenScaled: Retain
    whenDeleted: Retain
  livenessProbe:
    enabled: true
    initialDelaySeconds: 60
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  readinessProbe:
    enabled: true
    initialDelaySeconds: 60
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  podAnnotations: {}


# Configuration for Graylog Datanode
datanode:
  enabled: true
  replicas: 3
  image:
    repository: "graylog/graylog-datanode"
    tag: "6.2"
    imagePullPolicy: Always
  env:
    graylogDatanodeIdFile: "/var/lib/graylog-datanode/node-id"
    graylogDatanodeOpensearchHeap: "2g"
    graylogDatanodeJavaOpts: "-Xms1g -Xmx1g"
  service:
    ports:
      api: 8999
      data: 9200
      config: 9300
  resources:
    limits:
      cpu: "1"
      memory: "4Gi"
    requests:
      cpu: "500m"
      memory: "3Gi"
  persistence:
    enabled: true
    data:
      enabled: true
      storageClass: ""
      existingClaim: ""
      mountPath: /var/lib/graylog-datanode
      accessModes:
        - ReadWriteOnce
      size: 8Gi
      annotations: {}
      labels: {}
      selector: {}
      dataSource: {}
  livenessProbe:
    enabled: true
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  readinessProbe:
    enabled: true
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  podAnnotations: {}


# This block is for setting up the ingress for more information can be found here: https://kubernetes.io/docs/concepts/services-networking/ingress/
ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local


serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: "graylog"
