# Default values for Graylog.

# @todo: utilize these
nameOverride: ""
fullnameOverride: ""
quicksetup:

global:
  existingSecret:
  imagePullSecrets: []
  defaultStorageClass: ""
  # @todo: Allow for these to be defined here if the user wishes
  # graylogMongodbURI: "NO DEFAULT"
  # graylogElasticSearchHosts: "NO DEFAULT"
  # graylogPasswordSecret: "NO DEFAULT"
  # graylogPasswordSha2: "NO DEFAULT"


# Configuration for Graylog application
graylog:
  enabled: true
  replicas: 2
  enterprise: true
  # @todo: Think about how customers use inputs
  inputs:
    - name: input-gelf
      port: 12201
      targetPort: 12201
      protocol: TCP
      ingress: true
    - name: input-forwarder
      port: 13301
      targetPort: 13301
      protocol: TCP
      ingress: true
  config:
    rootUsername: "admin"
    rootPassword: ""
    timezone: "UTC"
    selfsignedStartup: "true"
    serverJavaOpts: "-Xms1g -Xmx1g"
    leaderElectionMode: "automatic"
#    graylogMigrations: "true"
    contentPacksAutoInstall: ""
    isCloud: "false"
    mongodb:
      maxConnections: 1000
      versionProbeAttempts: 0
    messageJournal:
      enabled: "true"
      flushAge: "1m"
      flushInterval: "1000000"
      maxAge: "12h"
      segmentAge: "1h"
      segmentSize: "100mb"
    network:
      connectTimeout: "5s"
      enableCors: "false"
      enableGzip: "true"
      maxHeaderSize: "8192"
      readTimeout: "10s"
      threadPoolSize: "64"
    performance:
      asyncEventbusProcessors: "2"
      autoRestartInputs: "false"
      inputBufferProcessors: "2"
      inputBufferRingSize: "65536"
      inputBufferWaitStrategy: "blocking"
      jobSchedulerConcurrencyLimits: ""
      outputBatchSize: "500"
      outputFaultCountThreshold: "5"
      outputFaultPenaltySeconds: "30"
      outputFlushInterval: "1"
      outputBufferProcessorThreadsCorePoolSize: "3"
      outputBufferProcessors: ""
      processBufferProcessors: ""
    email:
      enabled: "false"
      senderAddress: "graylog@example.com"
      hostname: "mail.example.com"
      port: "587"
      socketConnectionTimeout: "10s"
      socketTimeout: "10s"
      useAuth: "true"
      useSsl: "false"
      useTls: "true"
      webInterfaceUrl: "https://graylog.example.com"
  custom:
    podAnnotations: {}
    nodeSelector: {}
    metrics:
      enabled: true
    image:
      repository: ""
      tag: ""
      imagePullPolicy: IfNotPresent
      imagePullSecrets: []
    service:
      nameOverride: ""
      type: ClusterIP
      ports:
        app: 9000
        metrics: 9833
        inputGelfHttp: 12201
    resources:
      limits:
        cpu: "2"
        memory: "2Gi"
      requests:
        cpu: "1"
        memory: "1Gi"
    persistence:
      enabled: true
      # @todo: Export these values to the PVCs
      # persistentVolumeClaimRetentionPolicy:
      #   enabled: false
      #   whenScaled: Retain
      #   whenDeleted: Retain
      journal:
        enabled: true
        storageClass: ""
        volumeNameOverride: "graylog-journal"
        existingClaim: ""
        mountPath: /usr/share/graylog/data/journal
        subPath: ""
        accessModes:
          - ReadWriteOnce
        size: "8Gi"
        annotations: { }
        labels: { }
        selector: { }
    livenessProbe:
      enabled: true
      initialDelaySeconds: 60
      periodSeconds: 10
      timeoutSeconds: 5
      failureThreshold: 6
      successThreshold: 1
    readinessProbe:
      enabled: true
      initialDelaySeconds: 30
      periodSeconds: 10
      timeoutSeconds: 5
      failureThreshold: 6
      successThreshold: 1
    podDisruptionBudget:
      enabled: false
      minAvailable: 1

# Configuration for Graylog Datanode
datanode:
  enabled: true
  replicas: 3
  config:
    nodeIdFile: "/var/lib/graylog-datanode/node-id"
    opensearchHeap: "2g"
    javaOpts: "-Xms1g -Xmx1g"
    skipPreflightChecks: "false"
    nodeSearchCacheSize: "10gb"
    # graylogEnabledTlsProtocols: ""
  custom:
    podAnnotations: {}
    nodeSelector: {}
    image:
      repository: ""
      tag: ""
      imagePullPolicy: IfNotPresent
      imagePullSecrets: []
    service:
      ports:
        api: 8999
        data: 9200
        config: 9300
    resources:
      limits:
        cpu: "1"
        memory: "5Gi"
      requests:
        cpu: "500m"
        memory: "3.5Gi"
    persistence:
      enabled: true
      data:
        enabled: true
        storageClass: ""
        existingClaim: ""
        mountPath: /var/lib/graylog-datanode
        accessModes:
          - ReadWriteOnce
        size: 8Gi
        annotations: {}
        labels: {}
        selector: {}
        dataSource: {}
      nativeLibs:
        enabled: false
        storageClass: ""
        existingClaim: ""
        mountPath: /native_libs
        accessModes:
          - ReadWriteOnce
        size: 2Gi
        annotations: {}
        labels: {}
        selector: {}
    livenessProbe:
      enabled: true
      initialDelaySeconds: 30
      periodSeconds: 10
      timeoutSeconds: 5
      failureThreshold: 6
      successThreshold: 1
    readinessProbe:
      enabled: true
      initialDelaySeconds: 10
      periodSeconds: 10
      timeoutSeconds: 5
      failureThreshold: 6
      successThreshold: 1
    podDisruptionBudget:
      enabled: false
      minAvailable: 2

# This block is for setting up the ingress for more information can be found here: https://kubernetes.io/docs/concepts/services-networking/ingress/
ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

serviceAccount:
  create: true
  automount: true
  annotations: {}
  nameOverride: ""

mongodb:
  subchart:
    enabled: true
  architecture: replicaset
  arbiter:
    enabled: true
  replicaCount: 2
  persistence:
    storageClass:
  auth:
    usernames: [ "graylog" ]
    databases: [ "graylog" ]
