{{- if .Values.graylog.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: init-script-cm
data:
  init-script.sh: |
    #!/bin/sh
    # initialize data dir
    if [ -f /mnt/data/journal/.lock ]; then
      echo "Data already initialized, skipping copy."
    else
      cp -r /usr/share/graylog/data/* /mnt/data/
      mkdir -p /mnt/data/geolocation
    fi
    {{- if .Values.graylog.config.plugins.enabled }}
    # copy plugins
    [ -d /mnt/shared/plugins ] && find /mnt/shared/plugins/ -type f -name '*.jar' -exec cp {} /mnt/plugins/ \;

    {{- if and .Values.graylog.config.init.assetFetch.enabled .Values.graylog.config.init.assetFetch.plugins.enabled }}
    # retrieve plugins directly
    for urlchecksum in $(echo "${GRAYLOG_PLUGIN_URLS}" | tr "^" "\n"); do
      name=$(echo "$urlchecksum" | cut -d'|' -f1)
      url=$(echo "$urlchecksum" | cut -d'|' -f2)
      checksum=$(echo "$urlchecksum" | cut -d'|' -f3)
      wget "$url" -O "$name.jar" || { echo "Failed to fetch plugin $name.jar at $url"; continue; }
      if [ -n "$checksum" ]; then
        actual=$(sha256sum "$name.jar" | awk '{print $1}')
        if [ "$checksum" = "$actual" ]; then
          echo "Plugin checksum matches for $name.jar"
          cp "$name.jar" "/mnt/plugins/" && rm "$name.jar"
        else
          echo "Plugin checksum does NOT match for $name. Skipping plugin."
          rm "$name.jar"
        fi
      else
        echo "Warning: no checksum validation has been performed for plugin $name.jar"
        cp "$name.jar" "/mnt/plugins/" && rm "$name.jar"
      fi
    done
    {{- end }}
    {{- end }}
    # get geolocation city database
    if [ -n "$GRAYLOG_GEO_CITY_DB_URL" ]; then
      wget "$GRAYLOG_GEO_CITY_DB_URL" -O "/mnt/data/geolocation/city.mmdb" || echo "Failed to fetch geolocation database at $GRAYLOG_GEO_CITY_DB_URL"
    fi
    # get geolocation ASN database
    if [ -n "$GRAYLOG_GEO_ASN_DB_URL" ]; then
      wget "$GRAYLOG_GEO_ASN_DB_URL" -O "/mnt/data/geolocation/asn.mmdb" || echo "Failed to fetch geolocation database at $GRAYLOG_GEO_ASN_DB_URL"
    fi
    # check mongo credentials
    if env | grep GRAYLOG_MONGODB_URI | grep -q "@"; then
      echo "MongoDB credentials set. We're good to go!"
    else
      echo "Error: MongoDB credentials not set in MongoDB URI. Make sure secrets are up to date."
      exit 1
    fi
{{- end }}