{{- if .Values.graylog.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: init-script-cm
data:
  init-script.sh: |
    #!/bin/sh
    # initialize data dir
    if [ -f /mnt/data/journal/.lock ]; then
      echo "Data already initialized, skipping copy."
    else
      # copy data dir
      cp -r /usr/share/graylog/data/* /mnt/data/
    fi
    {{ if and .Values.graylog.config.tls.byoc.enabled }}
    # check that the FDQN for all Graylog nodes is part of the certificate SANs
    {{- $fqdn := printf "%s.%s.svc.cluster.local" (include "graylog.serviceName" .) .Release.Namespace }}
    if ! openssl x509 -in "/mnt/tls/tls.crt" -noout -checkhost {{ printf "test.%s" $fqdn | squote }}; then
      echo "The provided certificate does not match the Graylog pod FQDN."
      echo "Please, make sure to include {{ printf "DNS:*.%s" $fqdn | quote }} as another SAN in your certificate request."
      exit 1
    else
    {{- if .Values.graylog.config.tls.byoc.updateKeyStore}}
      # check if root CA is in cert file
      openssl crl2pkcs7 -nocrl -certfile "/mnt/tls/tls.crt" | openssl pkcs7 -print_certs -outform PEM | awk -v out="cert" '
      /-----BEGIN CERTIFICATE-----/ {n++; f=sprintf("%s-%03d.pem", out, n)}
      {print > f}
      /-----END CERTIFICATE-----/ {close(f)}
      '
      ROOT_CA=""
      for f in cert-*.pem; do
        subj="$(openssl x509 -in "$f" -noout -subject -nameopt RFC2253 | sed "s/^subject= //")"
        issu="$(openssl x509 -in "$f" -noout -issuer  -nameopt RFC2253 | sed "s/^issuer= //")"
        if [ "$subj" = "$issu" ]; then
          ROOT_CA="root-ca.pem"
          cp "$f" "${ROOT_CA}"
          break
        fi
      done
      if [ -z "${ROOT_CA}" ]; then
        echo "The certificate passed does not contain a root CA. Only this certificate will be added to the truststore."
        echo "Make sure to add a new certificate when performing certificate rotation."
      fi
      # update java key store
      CACERTS_SRC="/usr/share/graylog/data/cacerts"
      CACERTS_DST="/mnt/data/cacerts"
      mkdir -p "${CACERTS_SRC}" "${CACERTS_DST}"
      JAVA_HOME_LOCAL=$(java -XshowSettings:properties -version 2>&1 > /dev/null | grep 'java.home' | grep '/.*' -o)
      cp "${JAVA_HOME_LOCAL}/lib/security/cacerts" "${CACERTS_SRC}/graylog.jks"
      chown graylog:graylog "${CACERTS_SRC}/graylog.jks"
      keytool -importcert -noprompt -alias byoc -file "/mnt/tls/tls.crt" -keystore "${CACERTS_SRC}/graylog.jks" -storepass {{ .Values.graylog.config.tls.byoc.keyStorePass | default "changeit" }}
      [ -n "${ROOT_CA}" ] && keytool -importcert -noprompt -alias byoc-ca -file "${ROOT_CA}" -keystore "${CACERTS_SRC}/graylog.jks" -storepass {{ .Values.graylog.config.tls.byoc.keyStorePass | default "changeit" }}
      if [ ! -e "${CACERTS_DST}/graylog.jks" ] || ! cmp -s "${CACERTS_SRC}/graylog.jks" "${CACERTS_DST}/graylog.jks"; then
        cp "${CACERTS_SRC}/graylog.jks" "${CACERTS_DST}/graylog.jks"
        echo "Updated Java Key Store."
      else
        echo "Java Key Store has not been modified, nothing to do."
      fi
    {{- else }}
      echo "The Java Key Store remains unchanged. Ensure that the CA that signed your certificates is trusted by default."
    {{- end }}
    fi
    {{- end }}
    {{- if .Values.graylog.config.plugins.enabled }}
    # copy plugins
    [ -d /mnt/shared/plugins ] && find /mnt/shared/plugins/ -type f -name '*.jar' -exec cp {} /mnt/plugins/ \;

    {{- if and .Values.graylog.config.init.assetFetch.enabled .Values.graylog.config.init.assetFetch.plugins.enabled }}
    # retrieve plugins directly
    for urlchecksum in $(echo "${INIT_GRAYLOG_PLUGIN_URLS}" | tr "^" "\n"); do
      name=$(echo "$urlchecksum" | cut -d'|' -f1)
      url=$(echo "$urlchecksum" | cut -d'|' -f2)
      checksum=$(echo "$urlchecksum" | cut -d'|' -f3)
      wget -T 5 -t 3 "$url" -O "$name.jar" || { echo "Failed to fetch plugin $name.jar at $url"; continue; }
      if [ -n "$checksum" ]; then
        actual=$(sha256sum "$name.jar" | awk '{print $1}')
        if [ "$checksum" = "$actual" ]; then
          echo "Plugin checksum matches for $name.jar"
          cp "$name.jar" "/mnt/plugins/" && rm "$name.jar"
        else
          echo "Plugin checksum does NOT match for $name. Skipping plugin."
          rm "$name.jar"
        fi
      else
        echo "Warning: no checksum validation has been performed for plugin $name.jar"
        cp "$name.jar" "/mnt/plugins/" && rm "$name.jar"
      fi
    done
    {{- end }}
    {{- end }}
    {{- if and .Values.graylog.config.geolocation.enabled .Values.graylog.config.init.assetFetch.enabled .Values.graylog.config.init.assetFetch.geolocation.enabled }}
    mkdir -p /mnt/data/geolocation
    # retrieve geolocation mmdb files directly
    for urlchecksum in $(echo "${INIT_GRAYLOG_GEO_MMDB_URLS}" | tr "^" "\n"); do
      name=$(echo "$urlchecksum" | cut -d'|' -f1)
      url=$(echo "$urlchecksum" | cut -d'|' -f2)
      checksum=$(echo "$urlchecksum" | cut -d'|' -f3)
      wget -T 5 -t 3 "$url" -O "$name.mmdb" || { echo "Failed to fetch geolocation database $name.mmdb at $url"; continue; }
      if [ -n "$checksum" ]; then
        actual=$(sha256sum "$name.mmdb" | awk '{print $1}')
        if [ "$checksum" = "$actual" ]; then
          echo "Checksum matches for $name.mmdb"
          cp "$name.mmdb" "/mnt/data/geolocation/" && rm "$name.mmdb"
        else
          echo "Checksum does NOT match for $name.mmdb. Skipping database."
          rm "$name.mmdb"
        fi
      else
        echo "Warning: no checksum validation has been performed for database $name.mmdb"
        cp "$name.mmdb" "/mnt/data/geolocation/" && rm "$name.mmdb"
      fi
    done
    {{- end }}
    # check mongo credentials
    if env | grep GRAYLOG_MONGODB_URI | grep -q "@"; then
      echo "MongoDB credentials set. We're good to go!"
    else
      echo "Error: MongoDB credentials not set in MongoDB URI. Make sure secrets are up to date."
      exit 1
    fi
    {{- end }}