{{/* BYO Mongo validation */}}
{{- if not .Values.mongodb.communityResource.enabled | and (empty .Values.global.existingSecretName) (empty .Values.graylog.config.mongodb.customUri) }}
  {{- $err := "A MongoDB connection URI must be specified when mongodb.communityResource.enabled is set to 'false'." }}
  {{- $err = cat $err "Please set it using graylog.config.mongodb.customUri, or provide a global secret override with global.existingSecretName" }}
  {{- fail $err }}
{{- end }}
{{- if not .Values.global.existingSecretName -}}
{{/* Lookup secrets to restore */}}
{{- $secretName := include "graylog.secretsName" . }}
{{- $this := lookup "v1" "Secret" .Release.Namespace $secretName }}
{{- $backupName := include "graylog.backupSecretName" . }}
{{- $backup := lookup "v1" "Secret" .Release.Namespace $backupName  }}
{{- $mongoConnSecret := include "graylog.mongodb.crSecretName" . | lookup "v1" "Secret" .Release.Namespace }}
{{/* Graylog sha256 and pepper */}}
{{- $graylogSha := include "graylog.rootPassword" . | sha256sum | b64enc }}
{{- $graylogPepper := include "graylog.secretPepper" . | b64enc -}}
{{/* MongoDB secrets */}}
{{- $mongoRootPassword := randAlphaNum 16 | b64enc }}
{{- $mongoDbPassword := randAlphaNum 16 | b64enc -}}
{{/* Restore backup */}}
{{- if $this }}
  {{- $graylogPepper = index $this.data "GRAYLOG_PASSWORD_SECRET" }}
{{ else if $backup }}
  {{- $graylogPepper = index $backup.data "graylog-secret" }}
{{- end }}
{{- if $backup }}
  {{- $mongoRootPassword = index $backup.data "mongodb-root-password" | default $mongoRootPassword }}
  {{- $mongoDbPassword = index $backup.data "mongodb-db-password" | default $mongoDbPassword }}
{{- else }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $backupName }}
  labels:
    {{- include "graylog.labels" . | nindent 4 }}
  annotations:
    {{- include "graylog.annotations" . | nindent 4 }}
    helm.sh/resource-policy: keep
data:
  {{- if empty .Values.graylog.config.mongodb.customUri }}
  mongodb-root-password: {{ $mongoRootPassword }}
  mongodb-db-password: {{ $mongoDbPassword }}
  {{- end }}
  graylog-secret: {{ $graylogPepper }}
---
{{- end }}
{{- $mongoUri := .Values.graylog.config.mongodb.customUri | default "" }}
{{- if $mongoUri }}
{{- $msg := printf "the provided MongoDB URI (%s) is not valid." $mongoUri }}
{{- $msg = cat $msg "Please format it according to https://www.mongodb.com/docs/manual/reference/connection-string/" }}
{{- $msg = cat $msg "-- Authentication credentials must be included." }}
{{- $mongoUri = regexMatch "mongodb(\\+srv)?://.*:.*@" $mongoUri | ternary (b64enc $mongoUri) "" | required $msg }}
{{- else if $mongoConnSecret }}
  {{- $mongoUri = index $mongoConnSecret.data "connectionString.standard" }}
{{- else if .Values.mongodb.communityResource.enabled }}
    {{- $mongoUri = printf "mongodb://%s:%s" (include "graylog.mongodb.crUsername" .) (b64dec $mongoDbPassword) }}
    {{- $mongoUri = printf "%s@%s-svc.%s" $mongoUri (include "graylog.mongodb.crName" .) .Release.Namespace }}
    {{- $mongoUri = printf "%s/%s" $mongoUri (include "graylog.mongodb.crDatabase" .) }}
    {{- $mongoUri = printf "%s?replicaSet=%s" $mongoUri (include "graylog.mongodb.crName" .) }}
    {{- $mongoUri = .Values.mongodb.security.tls.enabled | default "false" | toString | printf "%s&ssl=%s" $mongoUri | b64enc }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "graylog.labels" . | nindent 4 }}
  annotations:
    {{- include "graylog.annotations" . | nindent 4 }}
data:
  GRAYLOG_MONGODB_URI: {{ $mongoUri | required "ERROR: empty MongoDB URI. Please set it using graylog.config.mongodb.customUri" }}
  GRAYLOG_ROOT_USERNAME: {{ .Values.graylog.config.rootUsername | default "admin" | b64enc }}
  GRAYLOG_PASSWORD_SECRET: {{ $graylogPepper }}
  GRAYLOG_ROOT_PASSWORD_SHA2: {{ $graylogSha }}
  {{- if .Values.graylog.config.tls.enabled }}
  GRAYLOG_HTTP_TLS_KEY_PASSWORD: {{ .Values.graylog.config.tls.keyPassword | quote }}
  {{- end }}
{{- end }}